<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vansh's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Arial;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/1684992616309.jpeg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <!-- Add the following code in the head tag -->

    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./timeline10.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="timeline10-max-width thq-section-max-width">
          <div class="timeline10-container01">
            <div class="timeline10-container02">
              <button type="button" class="thq-button-filled">
                <span>
                  <fragment>
                    <span class="timeline10-text27">Primary action</span>
                  </fragment>
                </span>
              </button>
              <button type="button" class="thq-button-outline">
                <span>
                  <fragment>
                    <span class="timeline10-text30">Seconday action</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <div class="timeline10-timeline-container">
            <div class="timeline10-step1">
              <div class="timeline10-container03">
                <div class="timeline10-container04"></div>
              </div>
              <div class="timeline10-progress0"></div>
              <div class="timeline10-container05">
                <div class="timeline10-container06">
                  <h3 class="timeline10-text02">
                    <fragment>
                      <span class="timeline10-text54 thq-heading-3">2010</span>
                    </fragment>
                  </h3>
                  <h3>
                    <fragment>
                      <span class="timeline10-text28 thq-heading-3">
                        Expansion Phase
                      </span>
                    </fragment>
                  </h3>
                  <span>
                    <fragment>
                      <span class="timeline10-text38 thq-body-small">
                        &nbsp;Began exploring the&nbsp; world of AR/VR and
                        website development.
                      </span>
                    </fragment>
                  </span>
                  <span>
                    <fragment>
                      <span class="timeline10-text51">Text</span>
                    </fragment>
                  </span>
                  <div class="timeline10-container07">
                    <button
                      type="button"
                      class="timeline10-button02 thq-button-filled"
                    >
                      <span>
                        <fragment>
                          <span class="timeline10-text48">
                            Attended workshops and training sessions to enhance
                            skills.
                          </span>
                        </fragment>
                      </span>
                    </button>
                    <button
                      type="button"
                      class="timeline10-button03 thq-button-outline"
                    >
                      <span>
                        <fragment>
                          <span class="timeline10-text43">
                            Started offering basic services to local clients.
                          </span>
                        </fragment>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline10-container08">
              <div class="timeline10-step2">
                <div class="timeline10-container09">
                  <h3>
                    <fragment>
                      <span class="timeline10-text52 thq-heading-3">2015</span>
                    </fragment>
                  </h3>
                  <h3>
                    <fragment>
                      <span class="timeline10-text44 thq-heading-3">
                        Expansion Phase
                      </span>
                    </fragment>
                  </h3>
                  <span>
                    <fragment>
                      <span class="timeline10-text53 thq-body-small">
                        Diversified services to include virtual tours and
                        content writing.
                      </span>
                    </fragment>
                  </span>
                  <span>
                    <fragment>
                      <span class="timeline10-text34">
                        <span>"As a VR Designer for</span>
                        <span class="timeline10-text36">
                          Baba Farid Group of Instituions
                        </span>
                        <span>
                          , Bathinda and served as a manager. Developed a
                          Virtual Reality (VR) of my institution with my core
                          team of 30+ members which conntributed in creating a
                          3D and Virtual Tour of whole campus including 5 Major
                          Colleges and the surroundings."
                        </span>
                      </span>
                    </fragment>
                  </span>
                  <div class="timeline10-container10">
                    <div class="timeline10-container11"></div>
                  </div>
                  <div class="timeline10-container12">
                    <button
                      type="button"
                      class="timeline10-button04 thq-button-filled"
                    >
                      <span>
                        <fragment>
                          <span class="timeline10-text40">
                            Collaborated with industry experts on major
                            projects.
                          </span>
                        </fragment>
                      </span>
                    </button>
                    <button
                      type="button"
                      class="timeline10-button05 thq-button-outline"
                    >
                      <span>
                        <fragment>
                          <span class="timeline10-text47">
                            Launched a successful virtual tour campaign for a
                            renowned client.
                          </span>
                        </fragment>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="timeline10-container13">
                  <div class="timeline10-container14"></div>
                </div>
              </div>
              <div class="timeline10-progress01"></div>
            </div>
            <div class="timeline10-container15">
              <div class="timeline10-container16"></div>
            </div>
            <div class="timeline10-step3">
              <div class="timeline10-progress02"></div>
              <div class="timeline10-container17">
                <h3 class="timeline10-text14">
                  <fragment>
                    <span class="timeline10-text49 thq-heading-3">2018</span>
                  </fragment>
                </h3>
                <h3>
                  <fragment>
                    <span class="timeline10-text42 thq-heading-3">
                      Recognition Achieved
                    </span>
                  </fragment>
                </h3>
                <span>
                  <fragment>
                    <span class="timeline10-text31 thq-body-small">
                      Received awards for innovative AR/VR projects and
                      impactful content writing.
                    </span>
                  </fragment>
                </span>
                <span>
                  <fragment>
                    <span class="timeline10-text45">Text</span>
                  </fragment>
                </span>
                <div class="timeline10-container18">
                  <button
                    type="button"
                    class="timeline10-button06 thq-button-filled"
                  >
                    <span>
                      <fragment>
                        <span class="timeline10-text46">
                          Featured as a guest speaker at tech conferences.
                        </span>
                      </fragment>
                    </span>
                  </button>
                  <button
                    type="button"
                    class="timeline10-button07 thq-button-outline"
                  >
                    <span>
                      <fragment>
                        <span class="timeline10-text32">
                          Published articles on the future of AR/VR technology.
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="timeline10-container19">
              <div class="timeline10-container20">
                <div class="timeline10-container21">
                  <div class="timeline10-step4">
                    <div class="timeline10-container22">
                      <h3>
                        <fragment>
                          <span class="timeline10-text33 thq-heading-3">
                            2021
                          </span>
                        </fragment>
                      </h3>
                      <h3>
                        <fragment>
                          <span class="timeline10-text29 thq-heading-3">
                            Present Day
                          </span>
                        </fragment>
                      </h3>
                      <span>
                        <fragment>
                          <span class="timeline10-text26 thq-body-small">
                            Continuing to provide cutting-edge services in
                            AR/VR, website development, virtual tours, and
                            content writing.
                          </span>
                        </fragment>
                      </span>
                      <div class="timeline10-container23">
                        <button
                          type="button"
                          class="timeline10-button08 thq-button-filled"
                        >
                          <span>
                            <fragment>
                              <span class="timeline10-text50">
                                Expanding client base globally through
                                successful projects and referrals.
                              </span>
                            </fragment>
                          </span>
                        </button>
                        <button
                          type="button"
                          class="timeline10-button09 thq-button-outline"
                        >
                          <span>
                            <fragment>
                              <span class="timeline10-text39">
                                Engaging in public speaking events to share
                                expertise and insights.
                              </span>
                            </fragment>
                          </span>
                        </button>
                      </div>
                      <span>
                        <fragment>
                          <span class="timeline10-text41">Text</span>
                        </fragment>
                      </span>
                    </div>
                    <div class="timeline10-progress03"></div>
                  </div>
                  <div class="timeline10-container24">
                    <div class="timeline10-container25"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.googletagmanager.com/gtag/js?id=G-1NFNF30PFR"
      async=""
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'G-1NFNF30PFR');
    </script>
    <script type="text/javascript">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','G-1NFNF30PFR');
    </script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
